<div class="gnb_bg"></div>
			<div class="header_box">
				<h1 class="logo"><a href="index.html"><img src="/images/common/logo.png" alt="태양광시설관리 시스템"></a></h1>
				<div class="util_right">
					<ul class="clear">
					{{#session}}
						<li><a href="#dispay_view2" onclick="logout(); return false;">로그아웃</a></li>
					{{else}}
						<li><a href="/environment/login">로그인</a></li>
						<li><a href="#dispay_view2" onclick="view_show(2,'join'); return false;">회원가입</a></li>
					{{/session}}
					</ul>
					
					<a href="/" title="MAIN 이동" class="go_sitemap"><i class="fa fa-navicon"></i></a>
				</div>
                <!--  gnb -->
				<div id="gnb_area">
					<nav id="gnb">
                        <ul class="depth2 clear">
							<li class="depth1_1">
								<a href="/monitoring/livemonitoring">실시간모니터링</a>
								<div class="gnb_txt"><strong>실시간모니터링</strong>태양광시설관리 시스템 <br>실시간모니터링 서비스입니다.</div>
								<ul class="depthBox">
									<li><a href="/monitoring/livemonitoring">실시간모니터링</a></li>
								</ul>
							</li>
							<li class="depth1_2 ">
								<a href="sub0201.html">수집통계</a>
								<div class="gnb_txt"><strong>수집통계</strong>태양광시설관리 시스템 <br>종합수집통계 정보입니다.</div>
								<ul class="depthBox">
									<li><a href="sub0201.html">수집통계</a></li>
								</ul>
							</li>
							<li class="depth1_3">
								<a href="/maintenance/eventmanage">유지보수</a>
								<div class="gnb_txt"><strong>유지보수</strong>이벤트와 유지보수 이력관리를<br> 한눈에 확인하세요!</div>
								<ul class="depthBox">
									<li><a href="/maintenance/eventmanage">이벤트관리</a></li>
									<li><a href="sub0302_1.html">유지보수 이력관리</a></li>
								</ul>
							</li>
							<li class="depth1_4">
								<a href="/environment/routinecheck">환경설정</a>
								<div class="gnb_txt"><strong>환경설정</strong>시스템의 설비정보 및 사용자정보를 <br>관리합니다.</div>
								<ul class="depthBox">
									<li><a href="/environment/routinecheck">정기점검</a></li>
									<li><a href="/environment/equipmentinfo">설비정보</a></li>
									<li><a href="/environment/userinfo">사용자정보</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
				<!-- // gnb -->
			</div>