				<div class="thum_wrap clear">
				    <ul class="thum_list02">
				        <li>
			                <div class="img_thum02">
				                <div class="txt_thum">
									<span>전체</span>
									<span style="font-size:24px;font-family:malgun gothic;">4</span> 개소(시설운용수)
				                </div>
			                </div>
				        </li>
						<li>
			                <div class="img_thum02">
								<div class="txt_thum">
				                	<span style="color:#3399cc">● 정상</span>
									<span style="color:#3399cc;font-size:24px;font-family:malgun gothic;">4</span> 개소
				                </div>
			                </div>
				        </li>
						<li>
			                <div class="img_thum02">
				                <div class="txt_thum">
				                	<span style="color:#ff0033">● 이상</span>
									<span style="color:#ff0033;font-size:24px;font-family:malgun gothic;">0</span> 개소
				                </div>
			                </div>
				        </li>
						<li>
			                <div class="img_thum02">
								<div class="txt_thum">
				                	<span >● 통신이상</span>
									<span style="font-size:24px;font-family:malgun gothic;">0</span> 개소
				                </div>
			                </div>
				        </li>
				    </ul>
				</div>