					<a href="/"><i class="fa fa-home"></i></a>
					<div class="fake_select open">
						 <button type="button" class="my_value">수집통계</button>
						 <ul class="a_list">
							 <li><a href="/statistics/statistics">수집통계</a></li> 
						 </ul>
					</div>