					<a href="#"><i class="fa fa-home"></i></a>
					<div class="fake_select open">
						 <button type="button" class="my_value">유지보수</button>
						 <ul class="a_list">
							 <li><a href="/maintenance/eventmanage">이벤트관리</a></li> 
							 <li><a href="sub0101.html">유비보수 이력관리</a></li> 
						 </ul>
					</div>