					<a href="#"><i class="fa fa-home"></i></a>
					<div class="fake_select open">
						 <button type="button" class="my_value">실시간모니터링</button>
						 <ul class="a_list">
							 <li><a href="/monitoring/livemonitoring">실시간모니터링</a></li> 
						 </ul>
					</div>