					<a href="/"><i class="fa fa-home"></i></a>
					<div class="fake_select open">
						 <button type="button" class="my_value">환경설정</button>
						 <ul class="a_list">
							 <li><a href="sub0101.html">점검일 일정관리</a></li> 
							 <li><a href="sub0101.html">설비정보</a></li> 
							 <li><a href="sub0101.html">사용자정보</a></li> 
						 </ul>
					</div>